@font-face {
    font-family: 'Georgia';
    src: url('Georgia.eot');
    src: local('Georgia'), url('Georgia.eot?#iefix') format('embedded-opentype'), url('Georgia.woff') format('woff'), url('Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-ItalicMT.eot');
    src: local('Arial Italic'), local('Arial-ItalicMT'), url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'), url('Arial-ItalicMT.woff') format('woff'), url('Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: local('Arial'), local('ArialMT'), url('ArialMT.eot?#iefix') format('embedded-opentype'), url('ArialMT.woff') format('woff'), url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Georgia';
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4 h5,
h5 {
    padding: 0;
    margin: 0;
}

.wrap_bg {
    max-width: 128rem;
    background-repeat: no-repeat;
}

.container {
    max-width: 128rem;
    height: 120rem;
    margin: auto;
}

header,
.header__logo,
.header_menu ul {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    padding: 3rem 4rem 3.3rem 4rem;
}

.header__logo {
    flex-direction: column;
    width: 18.4rem;
}

.header__logo_title {
    width: 18.4rem;
    height: 3.5rem;
    /* font-family: 'Georgia'; */
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: #545454;
}

.header__logo_subtitle {
    width: 17.9rem;
    height: 1.5rem;
    font-family: 'Arial';
    font-size: 1.3rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
    color: #292929
}

.header__menu {
    width: 44.3rem;
}

li {
    display: block;
    font-family: 'Arial';
    font-size: 1.5rem;
    line-height: 1.6;
    color: #545454;
    margin-left: 3.5rem;
}

.our-friends {
    height: 134.2rem;
    background: #F6F6F6;
    position: relative;
}

.our-friends__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-friends__header {
    margin: 8rem 44rem 4.5rem 44rem;
    width: 40rem;
    height: 9rem;
    /* font-family: 'Georgia'; */
    font-size: 3.5rem;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #545454;
}

.our-friends__slider {
    display: flex;
    flex-direction: column;
}

.our-friends__cards {
    width: 120rem;
    height: 93rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.our-friends__cards_card {
    height: 43.5rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
}

.our-friends__cards_card-img {
    margin-bottom: 3rem;
    height: 27rem;
    width: 27rem;
    border-radius: 9px 9px 0px 0px;
}

.our-friends__cards_card-btn {
    margin-bottom: 3rem;
    border: 2px solid #F1CDB3;
    border-radius: 10rem;
    /* font-family: 'Georgia'; */
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #292929;
    /* margin: 1rem 0; */
    padding: 0px;
    width: 18.7rem;
    height: 5.2rem;
}

.our-friends__cards_card-text {
    width: 7.4rem;
    height: 2.3rem;
    /* font-family: 'Georgia'; */
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06rem;
    color: #545454;
    align-self: center;
    margin-bottom: 3rem;
}

.our-friends_btn {
    align-self: center;
    align-items: center;
    padding: 1.5rem 4.5rem;
    background: #F1CDB3;
    border-radius: 10rem;
    height: 5.2rem;
    width: 26.1rem;
    /* font-family: 'Georgia'; */
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #292929;
    align-self: center;
    /* margin: 1rem 0; */
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.pagination {
    width: 34rem;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
    margin-bottom: 10rem;
}

.pagination__btn {
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2 solid #F1CDB3;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    background: #fff;
    color: #CDCDCD;
}

.pagination__btn:hover {
    background: #F1CDB3;
    color: #292929;
}

.pagination__btn img {
    height: 2.3rem;
}

.pagination__btn span {
    display: block;
    height: 2.3rem;
    font-family: 'Georgia';
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06rem;
    color: #CDCDCD;
}

.max {
    width: 2.7rem;
}

.min {
    width: 1.3rem;
}

footer {
    height: 35rem;
    background-image: url('../../assets/images/start-screen-gradient-background.png'), url('../../assets/images/start-screen-background.jpg'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
    background-repeat: no-repeat;
}

.footer-content {
    height: 35rem;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    /* background: #685846; */
    display: flex;
    justify-content: space-between;
}

.footer-content__contacts {
    padding-top: 1.6rem;
    height: 23.4rem;
    width: 27.8rem;
    /* background: #e27d08; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-right: 16rem; */
}

.footer-content__contacts_title {
    height: 9rem;
    width: 27.8rem;
    /* font-family: 'Georgia'; */
    font-size: 3.5rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #fff;
}

.footer-content__contacts_mail {
    height: 3.2rem;
    width: 25.1rem;
    display: flex;
    flex-direction: row;
}

.footer-content__contacts_mail-ico {
    height: 2.6rem;
    width: 4rem;
    margin-right: 2rem;
}

.footer-content__contacts_mail-text {
    height: 2.3rem;
    width: 19.1rem;
    /* font-family: 'Georgia'; */
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #F1CDB3;
}

.footer-content__contacts_phone {
    height: 3.2rem;
    width: 23.9rem;
    display: flex;
    flex-direction: row;
}

.footer-content__contacts_phone-ico {
    height: 3.2rem;
    width: 4rem;
    margin-right: 2rem;
}

.footer-content__contacts_phone-num {
    height: 2.3rem;
    width: 17.9rem;
    /* font-family: 'Georgia'; */
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #F1CDB3;
}

.footer-content__address {
    padding-top: 1.6rem;
    height: 23.4rem;
    width: 30.2rem;
    /* background: #e27d08; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footer-content__address_title {
    height: 9rem;
    width: 27rem;
    /* font-family: 'Georgia'; */
    font-size: 3.5rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #fff;
    padding-bottom: 3.4rem;
}

.footer-content__address_boston {
    width: 30.2rem;
    height: 4.6rem;
    padding-bottom: 3.2rem;
    display: flex;
}

.footer-content__address_boston-ico {
    height: 3.2rem;
    width: 2.2rem;
    margin-right: 2rem;
    padding-top: 0.7rem;
}

.footer-content__address_boston-text {
    height: 4.6rem;
    width: 26rem;
    /* font-family: 'Georgia'; */
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06rem;
    color: #F1CDB3;
}

.footer-content__address_london {
    width: 30.2rem;
    height: 3.2rem;
    display: flex;
    flex-direction: row;
}

.footer-content__address_london-ico {
    height: 3.2rem;
    width: 2.2rem;
    margin-right: 2rem;
}

.footer-content__address_london-text {
    height: 2.3rem;
    width: 26rem;
    /* font-family: 'Georgia'; */
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06rem;
    color: #F1CDB3;
}

.footer-content__img {
    height: 31rem;
    width: 30rem;
}