            *,
        *::after,
        *::before {
            box-sizing: border-box;
        }
        
        html,
        body {
            font-size: 62.5%;
            font-weight: normal;
            font-style: normal;
            color: #fff;
            background: url('../../assets/images/start-screen-background.jpg');
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            flex-shrink: 0;
        }
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        button,
        input {
            outline: none;
            border: none;
            cursor: pointer;
        }
        
        h1,
        h2,
        h3,
        h4 h5,
        h5 {
            padding: 0;
            margin: 0;
        }
        
        .wrap_bg {
            background: url('../../assets/images/start-screen-gradient-background.png');
            opacity: 0.8;
        }
        
        .container {
            height: 100vh;
            max-width: 120rem;
            margin: auto;
        }
        
        header,
        .header__logo,
        .header_menu ul {
            display: flex;
            align-items: center;
        }
        
        header {
            height: 12rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 6rem;
        }
        
        .header__logo {
            flex-direction: column;
            width: 18.4rem;
            margin-left: 4rem;
        }
        
        .header__logo_title {
            width: 18.4rem;
            height: 3.5rem;
            font-family: 'Georgia';
            font-size: 3.2rem;
            line-height: 1.1;
            margin-bottom: 1rem;
            color: #F1CDB3
        }
        
        .header__logo_subtitle {
            width: 17.9rem;
            height: 1.5rem;
            font-family: 'Arial';
            font-size: 1.3rem;
            line-height: 1.5rem;
            display: flex;
            align-items: center;
            letter-spacing: 0.1rem;
        }
        
        .header__menu {
            width: 44.3rem + 3.5rem;
        }
        
        li {
            display: block;
            font-family: 'Arial';
            font-size: 1.5rem;
            line-height: 1.6;
            color: #FAFAFA;
            margin-right: 3.5rem;
        }
        
        .start-screen {
            height: 72.8rem;
            margin-left: 4.5rem;
            margin-top: 6.9rem;
            display: flex;
        }
        
        .start-screen__content {
            width: 50.2rem;
            height: 72.8rem;
            display: flex;
            flex-direction: column;
            margin-top: 16.3rem;
        }
        
        .start-screen__content_heading {
            width: 31rem;
            height: 11.4rem;
            font-family: 'Georgia';
            font-size: 4.4rem;
            line-height: 1.3;
            margin-bottom: 4.1rem;
        }
        
        .start-screen__content_subheading {
            width: 46rem;
            height: 7.2rem;
            font-family: 'Arial';
            font-size: 1.5rem;
            line-height: 1.6;
            margin-bottom: 4.1rem;
            color: #CDCDCD;
        }
        
        .start-screen__content_btn {
            padding: 1.5rem 4.5rem;
            width: 20.7rem;
            height: 5.2rem;
            background: #F1CDB3;
            border-radius: 10rem;
            font-family: 'Georgia';
            font-size: 1.7rem;
            line-height: 1.3;
            letter-spacing: 0.06rem;
            /* color: #292929;
    flex-grow: 0;
} */
            .start-screen__img {
                width: 69.8rem;
                height: 72.8rem;
                background: url(../../assets/images/start-screen-puppy.png);
            }