@font-face {
    font-family: 'Georgia';
    src: url('Georgia.eot');
    src: local('Georgia'), url('Georgia.eot?#iefix') format('embedded-opentype'), url('Georgia.woff') format('woff'), url('Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-ItalicMT.eot');
    src: local('Arial Italic'), local('Arial-ItalicMT'), url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'), url('Arial-ItalicMT.woff') format('woff'), url('Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: local('Arial'), local('ArialMT'), url('ArialMT.eot?#iefix') format('embedded-opentype'), url('ArialMT.woff') format('woff'), url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* start settings */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Georgia';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    background: #F6F6F6;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}


/* ------------header---------- */

.header,
.wrap,
.header__logo,
.header__menu ul {
    display: flex;
    align-items: center;
}

header {
    background-image: url('../../assets/images/start-screen-gradient-background.png'), url('../../assets/images/start-screen-background.jpg'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
    background-repeat: no-repeat;
    /*  */
    max-width: 128rem;
    margin: auto;
}

.wrap {
    width: 128rem;
    height: 12rem;
    justify-content: space-between;
    align-items: center;
    /*  */
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.header__logo {
    flex-direction: column;
    width: 18.4rem;
}

.logo__title {
    width: 18.4rem;
    height: 3.5rem;
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #F1CDB3;
    letter-spacing: 0.17rem;
}

.logo__subtitle {
    width: 17.9rem;
    height: 1.5rem;
    font-family: 'Arial';
    font-size: 1.3rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.12rem;
}

.header__burger {
    display: none;
    position: relative;
    width: 3rem;
    height: 2.4rem;
    overflow: hidden;
}

.burger-line,
.burger-line:after,
.burger-line:before {
    position: absolute;
    right: 0;
    left: 0;
    width: 3rem;
    height: 0;
    border: .2rem solid #F1CDB3;
}

.burger-line:after,
.burger-line:before {
    content: "";
}

.burger-line {
    top: 1.1rem;
}

.burger-line:before {
    bottom: .75rem;
}

.burger-line:after {
    top: .75rem;
}

.header__menu ul {
    padding-bottom: 0.3rem;
    padding-right: 0.2rem;
}

li {
    display: block;
    font-family: 'Arial';
    font-size: 1.5rem;
    line-height: 1.6;
    color: #cdcdcd;
    position: relative;
}

li:not(:last-child) {
    margin-right: 3.5rem;
}

.active,
li a:hover {
    color: #fafafa;
}

.active::after {
    width: 100%;
    right: 0;
}

li a:hover::after {
    width: 100%;
    right: 0;
}

li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.45rem;
    right: 0;
    background: none repeat scroll 0 0 transparent;
    height: .3rem;
    background: #F1CDB3;
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: 76.8rem;
    }
    .wrap {
        width: 76.8rem;
        height: 9rem;
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 32rem;
    }
    .header__burger {
        display: inline-block;
    }
    .header__menu {
        display: none;
    }
    .wrap {
        max-width: 32rem;
        height: 9rem;
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 5.3rem;
    }
    .header__burger {
        display: inline-block;
    }
}


/* --------not-only------------ */

.not-only {
    background-image: url('../../assets/images/start-screen-gradient-background.png'), url('../../assets/images/start-screen-background.jpg'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
    background-repeat: no-repeat;
    max-width: 128rem;
    margin: auto;
}

.not-only-wrap {
    display: flex;
    height: 78.8rem;
    padding-top: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.not-only__content {
    width: 50.2rem;
    height: 32.3rem;
    display: flex;
    flex-direction: column;
    margin-top: 16.3rem;
}

.content__text {
    width: 31rem;
    height: 11.4rem;
    font-size: 4.4rem;
    line-height: 1.3;
    margin-bottom: 4.1rem;
    font-weight: normal;
}

.content__subtext {
    width: 46rem;
    height: 7.2rem;
    font-family: 'Arial';
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 4.5rem;
    color: #CDCDCD;
}

.content__btn {
    padding: 1.5rem 4.5rem;
    width: 20.7rem;
    height: 5.2rem;
    background: #F1CDB3;
    border-radius: 10rem;
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.1rem;
    color: #292929;
}

.content__btn:hover {
    background: #FDDCC4;
}

.not-only__img {
    width: 69.8rem;
    height: 72.8rem;
}

@media screen and (max-width: 1279px) {
    .not-only {
        max-width: 76.8rem;
    }
    .not-only-wrap {
        height: 107.5rem;
        flex-direction: column;
        padding-top: 6rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .not-only__content {
        width: 71.2rem;
        height: 32.3rem;
        padding-left: 12.4rem;
        padding-right: 12.4rem;
        margin-top: 0rem;
    }
    .content__btn {
        align-self: center;
        margin-right: 0.32rem;
    }
    .not-only__img {
        width: 56.9rem;
        height: 59.3rem;
        margin-top: 10rem;
        margin-left: 13.9rem;
    }
}

@media screen and (max-width: 767px) {
    .not-only {
        width: 32rem;
        min-width: 32rem;
    }
    .not-only-wrap {
        height: 73.3rem;
        flex-direction: column;
        padding-top: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .not-only__content {
        flex-direction: column;
        width: 30rem;
        height: 29.6rem;
        padding: 0;
        margin-top: 0rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .content__text {
        width: 20rem;
        height: 6.4rem;
        font-size: 2.5rem;
        line-height: 3.25rem;
        text-align: center;
        letter-spacing: 0.1rem;
    }
    .content__subtext {
        width: 30rem;
        height: 9.6rem;
        font-family: 'Arial';
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-bottom: 4.5rem;
        color: #CDCDCD;
        text-align: center;
    }
    .not-only__img {
        width: 26rem;
        height: 27.1rem;
        margin-top: 10.5rem;
        margin-left: 4rem;
    }
}


/* ------------about----- */

.about {
    max-width: 128rem;
    height: 58.8rem;
    margin: auto;
}

.about-container {
    height: 58.8rem;
    padding: 8rem 4rem 10rem 4rem;
    display: flex;
}

.about__img {
    width: 30rem;
    height: 40.8rem;
    margin-left: 17.5rem;
    margin-right: 12rem;
}

.about__content {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    width: 43rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
}

.content__heading {
    width: 37rem;
    height: 9rem;
    font-size: 3.5rem;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    color: #545454;
    font-weight: normal;
}

.content__subheading {
    width: 43rem;
    font-family: 'Arial';
    font-size: 1.5rem;
    line-height: 1.6;
    color: #4C4C4C;
}

.content__heading,
.content__subheading {
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 1279px) {
    .about {
        max-width: 76.8rem;
        height: 104.8rem;
    }
    .about-container {
        height: 104.8rem;
        padding: 8rem 16.5rem 10rem 16.5rem;
        flex-direction: column;
    }
    .about__img {
        width: 30rem;
        height: 40.8rem;
        margin-top: 8rem;
        margin-left: 6.3rem;
        margin-right: 0rem;
        order: 1;
    }
    .about__content {
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 0;
    }
    .content__subheading {
        margin-top: 2.5rem;
    }
    .content__heading,
    .content__subheading {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 767px) {
    .about {
        width: 32rem;
        height: 97.4rem;
    }
    .about-container {
        align-items: center;
        height: 97.4rem;
        padding: 4.2rem 1rem 4.2rem 1rem;
    }
    .about__img {
        width: 26rem;
        height: 35.4rem;
        margin-top: 4.2rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .about__content {
        width: 30rem;
        height: 49.4rem;
    }
    .content__heading {
        display: flex;
        align-items: center;
        text-align: center;
        width: 22rem;
        height: 6.4rem;
        margin-left: 4rem;
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
        text-align: center;
    }
    .content__subheading {
        align-self: center;
        text-align: justify;
        width: 27rem;
        margin-top: 2.3rem;
        font-size: 1.5rem;
    }
}


/* ----------our-friend------------- */

.our-friends {
    max-width: 128rem;
    height: 87.7rem;
    margin: auto;
    background: #F6F6F6;
}

.our-friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.our-friends__heading {
    padding: 8rem 44rem 6rem 44rem;
    height: 23rem;
    font-size: 3.5rem;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #545454;
    font-weight: normal;
}

.our-friends__slider {
    width: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.slider-wrap {
    max-width: 120rem;
    height: 43.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10.5rem;
    margin-left: 10.5rem;
}

.slider-card {
    height: 43.5rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(13, 13, 13, 0.04);
    background-color: #FAFAFA;
    transition: 0.3s;
}

.slider-card:hover {
    cursor: pointer;
    background: #fefefe;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider-card:hover .slider-card__btn {
    background: #FDDCC4;
}

.slider-card__img {
    margin-bottom: 3rem;
    height: 27rem;
    width: 27rem;
    border-radius: 9px 9px 0px 0px;
}

.slider-card__btn {
    margin-bottom: 3rem;
    border: 2px solid #F1CDB3;
    border-radius: 10rem;
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #292929;
    padding: 0px;
    width: 18.7rem;
    height: 5.2rem;
    background: #fff;
}

.slider-card__btn:hover {
    background: #f16b0a;
}

.slider-card__text {
    width: 7.4rem;
    height: 2.3rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.08rem;
    color: #545454;
    align-self: center;
    margin-bottom: 3rem;
}

.our-friends__btn {
    align-self: center;
    align-items: center;
    padding: 1.5rem 4.5rem;
    background: #F1CDB3;
    border-radius: 10rem;
    height: 5.2rem;
    width: 26.1rem;
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.09rem;
    color: #292929;
    align-self: center;
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.our-friends__btn:hover {
    background: #FDDCC4
}


/* ----------arrows .our-friends---------- */

.arrow-right,
.arrow-left {
    position: absolute;
    top: 19.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.3rem 1.9rem;
    width: 5.2rem;
    height: 5.2rem;
    border: .2rem solid #F1CDB3;
    border-radius: 10rem;
    background: #fff
}

.arrow-right:hover,
.arrow-left:hover {
    background: #FDDCC4;
}

.arrow-left img,
.arrow-right img {
    width: 1.4rem;
    height: 0.6rem;
}

.arrow-left {
    left: -0.3rem;
}

.arrow-right {
    right: -0.3rem;
}


/* ----------popup-card---------- */

.popup-bg {
    z-index: 1;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s linear;
}

.popup-card {
    background: #FAFAFA;
    /* background: #dd2d2d; */
    display: flex;
    width: 90rem;
    height: 50rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: 9px;
    color: #000000;
}

.popup-card__img {
    width: 50rem;
    height: 50rem;
}

.popup-card__describe {
    width: 40rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
}

.describe__heading {
    padding-top: 5rem;
    padding-left: 3rem;
    font-size: 3.5rem;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    color: #000000;
}

.describe__subheading {
    padding-top: 1rem;
    padding-left: 3rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.1rem;
}

.describe__text {
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    line-height: 1.15;
    letter-spacing: 0.09rem;
}

.describe__list {
    color: #000000;
    padding-top: 3.4rem;
    padding-left: 4.5rem;
}

.describe__item {
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0.2rem;
    padding-bottom: 1.1rem;
}

.describe__item span {
    color: #000000;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.2rem;
    padding-bottom: 1.1rem;
}

.show {
    display: flex;
}

.popup-card__close {
    width: 5.2rem;
    height: 5.2rem;
    position: absolute;
    z-index: 10;
    top: -2.6rem;
    right: -6.6rem;
    transform: translate(-50%, -50%);
    border: .2rem solid #F1CDB3;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-card__close img {
    width: 1.2rem;
    height: 1.2rem;
}

.popup-card__close:hover {
    background: #FDDCC4;
}

@media screen and (max-width: 1279px) {
    .our-friends {
        max-width: 76.8rem;
    }
    .our-friends__heading {
        padding: 8rem 18.4rem 6rem 18.4rem;
    }
    .our-friends__slider {
        width: 70.8rem;
    }
    .slider-wrap {
        max-width: 66rem;
        justify-content: start;
        overflow: hidden;
        margin-right: 2.4rem;
        margin-left: 2.4rem;
    }
    .slider-card {
        margin-left: 4rem;
    }
    .slider-card__text {
        width: 7.4rem;
        height: 2.3rem;
        font-size: 2rem;
        line-height: 1.15;
        letter-spacing: 0.12rem;
        color: #545454;
        align-self: center;
        margin-bottom: 3rem;
    }
    /* ----------arrows .our-friends---------- */
    .arrow-right,
    .arrow-left {
        top: 19.1rem;
    }
    .arrow-left {
        left: 0rem;
    }
    .arrow-right {
        right: 0rem;
    }
    /* ----------popup-card---------- */
    .popup-bg {
        z-index: 1;
        /* inset: 0; */
        /* opacity: .5; */
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* filter: blur(80%) grayscale(60%) opacity(20%); */
        transition: all 0.3s linear;
    }
    .popup-card {
        background: #FAFAFA;
        /* background: #dd2d2d; */
        display: flex;
        width: 63rem;
        height: 35rem;
    }
    .popup-card__img {
        width: 35rem;
        height: 35rem;
    }
    .popup-card__describe {
        width: 28rem;
        height: 50rem;
    }
    .describe__heading {
        padding-top: 1rem;
        padding-left: 1.1rem;
    }
    .describe__subheading {
        padding-top: .98rem;
        padding-left: 1.1rem;
    }
    .describe__text {
        padding-top: 2rem;
        padding-left: 1.1rem;
        padding-right: .9rem;
        font-size: 1.3rem;
        line-height: 1.09;
        letter-spacing: 0.073rem;
    }
    .describe__list {
        padding-top: 1.3rem;
        padding-left: 2.5rem;
    }
    .describe__item {
        font-size: 1.5rem;
        line-height: 1.15;
        letter-spacing: 0.2rem;
        padding-bottom: .6rem;
    }
    .describe__item span {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.15;
        letter-spacing: 0.2rem;
    }
    .show {
        display: flex;
    }
    .popup-card__close {
        width: 5.2rem;
        height: 5.2rem;
        position: absolute;
        z-index: 10;
        top: -2.6rem;
        right: -6.8rem;
        transform: translate(-50%, -50%);
        border: .2rem solid #F1CDB3;
        border-radius: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .popup-card__close img {
        width: 1.2rem;
        height: 1.2rem;
    }
    .popup-card__close:hover {
        background: #FDDCC4;
    }
}

@media screen and (max-width: 767px) {
    .our-friends {
        width: 32rem;
        height: 70.7rem;
    }
    .our-friends__heading {
        padding: 4.2rem 1rem 0rem 1rem;
        height: 10.8rem;
        font-size: 2.5rem;
        letter-spacing: 0.21rem;
    }
    .our-friends__slider {
        margin-top: 7.5rem;
        width: 30rem;
    }
    .slider-wrap {
        width: 27rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    .slider-card {
        margin-left: 0rem;
        height: 50.7rem;
    }
    .slider-card__text {
        display: flex;
        align-items: center;
        text-align: center;
        width: 7.4rem;
        height: 2.3rem;
        font-size: 2rem;
        line-height: 1.15;
        letter-spacing: 0.12rem;
        color: #545454;
        align-self: center;
        margin-bottom: 3rem;
    }
    .our-friends__btn {
        margin-top: 8rem;
        margin-bottom: 0rem;
    }
    /* ----------arrows .our-friends---------- */
    .arrow-right,
    .arrow-left {
        top: 41.8rem;
    }
    .arrow-left {
        left: 5.8rem;
    }
    .arrow-right {
        right: 5.8rem;
    }
    /* ----------popup-card---------- */
    .popup-card {
        width: 24rem;
        height: 34.1rem;
    }
    .popup-card__img {
        height: 0;
        width: 0;
        display: none;
    }
    .describe__heading {
        padding-top: 1rem;
        padding-left: 4.8rem;
        letter-spacing: 0.2rem;
    }
    .describe__subheading {
        padding-top: .7rem;
        padding-left: 4.2rem;
        letter-spacing: 0.1rem;
    }
    .describe__text {
        padding-top: 2.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.3rem;
        line-height: 1.1;
        letter-spacing: 0.07rem;
        text-align: justify;
    }
    .describe__list {
        padding-top: 1.6rem;
    }
    .describe__item {
        font-size: 1.5rem;
        line-height: 1.15;
        letter-spacing: 0.14rem;
        padding-bottom: .6rem;
    }
    .describe__item span {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.14rem;
    }
    .popup-card__close {
        top: -2.6rem;
        right: -5.5rem;
    }
}


/* ----------help---- */

.help {
    max-width: 128rem;
    margin: auto;
    height: 61.1rem;
    display: flex;
    justify-content: center;
}

.help-wrap {
    width: 120rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
    margin-right: 4rem;
    margin-bottom: 10rem;
    margin-left: 4rem;
}

.help__heading {
    font-size: 3.5rem;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #545454;
    font-weight: normal;
}

.help__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 12rem;
    row-gap: 5.5rem;
    width: 102.6rem;
    height: 28.1rem;
    margin-right: 8.7rem;
    margin-left: 8.7rem;
    align-items: center;
    align-content: center;
}

.help__list:nth-child(2) {
    margin-left: 9rem;
}

.vitamin {
    margin-left: 8rem;
}

.sleep {
    margin-right: 8rem;
}

.list__card {
    display: flex;
    flex-direction: column;
    height: 11.3rem;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.card__ico {
    width: 6rem;
    height: 6rem;
}

.list__text {
    height: 2.3rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.1rem;
    color: #545454;
}

@media screen and (max-width: 1279px) {
    .help {
        max-width: 76.8rem;
        height: 77.9rem;
    }
    .help-wrap {
        width: 63rem;
        display: flex;
        margin-top: 8rem;
        margin-right: 6.9rem;
        margin-bottom: 10rem;
        margin-left: 6.9rem;
    }
    .help__list {
        width: 63rem;
        height: 44.9rem;
        column-gap: 6rem;
        row-gap: 5.5rem;
        flex-wrap: wrap;
    }
    .help__list:nth-child(2) {
        margin-left: 8.5rem;
    }
    .vitamin {
        margin-left: 0rem;
    }
    .sleep {
        margin-right: 0rem;
    }
    .list__card {
        width: 17rem;
    }
}

@media screen and (max-width: 767px) {
    .help {
        width: 32rem;
        height: 74.5rem;
    }
    .help-wrap {
        width: 32rem;
        margin-top: 4.2rem;
        margin-right: 1.5rem;
        margin-bottom: 4.2rem;
        margin-left: 1.5rem;
    }
    .help__heading {
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }
    .help__list {
        width: 29rem;
        height: 55.5rem;
        gap: 3rem;
        flex-wrap: wrap;
    }
    .help__list:nth-child(2) {
        margin-left: 8.5rem;
    }
    .vitamin {
        margin-left: 0rem;
    }
    .sleep {
        margin-right: 0rem;
    }
    .list__card {
        width: 13rem;
        height: 8.7rem;
    }
    .card__ico {
        width: 5rem;
        height: 5rem;
    }
    .list__text {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.10;
        letter-spacing: 0.1rem;
        text-align: end;
    }
}


/* ----in-addition-------- */

.in-addition {
    max-width: 128rem;
    margin: auto;
    height: 46.2rem;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
}

.in-addition-wrap {
    height: 28.2rem;
    width: 91.5rem;
    margin-top: 8rem;
    margin-bottom: 10rem;
    display: flex;
}

.in-addition__img {
    margin-top: 1.1rem;
    height: 26.1rem;
    width: 50.5rem;
    margin-right: 3rem;
}

.in-addition__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #545454;
    height: 28.2rem;
    width: 38rem;
}

.content__title {
    height: 9rem;
    width: 30rem;
    font-size: 3.5rem;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    color: #545454;
    font-weight: normal;
}

.content__subtitle {
    height: 1.7rem;
    width: 30.7rem;
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0.08rem;
    color: #545454;
}

.content__card {
    height: 4.3rem;
    width: 34.9rem;
    display: flex;
    align-items: center;
    background: #F1CDB3;
    border-radius: .9rem
}

.content__card:hover {
    background: #FDDCC4;
}

.card__image {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card__image img {
    height: 2.3rem;
    width: 3rem;
}

.card__num {
    width: 27.4rem;
    height: 2.3rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.10rem;
    color: #545454;
}

.content__info {
    height: 7.2rem;
    width: 38rem;
    font-family: 'Arial';
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #B2B2B2;
    letter-spacing: 0.2rem;
}

@media screen and (max-width: 1279px) {
    .in-addition {
        max-width: 76.8rem;
        height: 78.3rem;
    }
    .in-addition-wrap {
        width: 76.8rem;
        height: 60.3rem;
        margin-top: 8rem;
        margin-bottom: 10rem;
        align-items: center;
        flex-direction: column;
    }
    .in-addition__img {
        margin-top: 5.5rem;
        margin-right: 0rem;
        order: 1;
    }
    .card__image {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .card__num {
        display: flex;
        align-items: center;
    }
    .content__info {
        letter-spacing: 0.002rem;
    }
}

@media screen and (max-width: 767px) {
    .in-addition {
        width: 32rem;
        height: 54.2rem;
    }
    .in-addition-wrap {
        width: 32rem;
        height: 45.8rem;
        margin: 4.2rem 1rem;
        ;
    }
    .in-addition__img {
        margin-top: 4.2rem;
        margin-right: 2rem;
        margin-left: 2rem;
        height: 13.52rem;
        width: 26rem;
        order: 1;
    }
    .in-addition__content {
        height: 28.1rem;
        width: 30rem;
        padding-left: 0rem;
        padding-top: 0rem;
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
    }
    .content__title {
        justify-content: center;
        text-align: center;
        height: 6.4rem;
        width: 22rem;
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
    }
    .content__subtitle {
        width: 27.3rem;
        height: 2.4rem;
        line-height: 1.6;
        letter-spacing: 0.0002rem;
    }
    .content__card {
        width: 28.1rem;
        height: 4.3rem;
    }
    .card__image {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .card__num {
        display: flex;
        align-items: center;
        line-height: 1.1;
        width: 20.6rem;
        height: 1.7rem;
        font-size: 1.5rem;
        letter-spacing: 0.09rem;
    }
    .content__info {
        letter-spacing: 0.0002rem;
        display: flex;
        align-items: center;
        text-align: justify;
        height: 9rem;
        width: 28rem;
    }
}


/* ---footer--- */

footer {
    max-width: 128rem;
    margin: auto;
    height: 35rem;
    background-image: url('../../assets/images/footer-gradient-background.png'), url('../../assets/images/footer-background.png'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
    background-repeat: no-repeat;
}

.footer-content {
    height: 35rem;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
}

.footer-content__contacts {
    margin-top: 1.6rem;
    height: 25rem;
    width: 27.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.2rem;
}

.contacts__title {
    height: 9rem;
    width: 27.8rem;
    font-size: 3.5rem;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    color: #fff;
    font-weight: normal;
}

.contacts__mail {
    height: 3.2rem;
    width: 25.1rem;
    display: flex;
    flex-direction: row;
}

.mail__ico {
    width: 4rem;
    height: 3.2rem;
    margin-right: 2rem;
}

.mail__text {
    height: 2.3rem;
    width: 19.1rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.11rem;
    color: #F1CDB3;
}

.contacts__phone {
    height: 3.2rem;
    width: 23.9rem;
    display: flex;
    flex-direction: row;
}

.phone__ico img {
    width: 4rem;
    height: 3.2rem;
    margin-right: 2rem;
}

.phone__num {
    height: 2.3rem;
    width: 17.9rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.11rem;
    color: #F1CDB3;
}

.footer-content__address {
    margin-top: 1.6rem;
    height: 25rem;
    width: 30.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1.2rem;
}

.address__title {
    height: 9rem;
    width: 27rem;
    font-size: 3.5rem;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    color: #fff;
    padding-bottom: 3.4rem;
    font-weight: normal;
}

.city__ico {
    width: 2.2rem;
    margin-right: 2rem;
}

.city__text {
    width: 26rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.11rem;
    color: #F1CDB3;
}

.address__city {
    width: 30.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content__img {
    height: 31rem;
    width: 30rem;
}

.phone__num:hover,
.city__text a:hover,
.mail__text:hover {
    color: #c05a11;
    /* color: #FDDCC4; НЕ ВИДНО ПОЧТИ ПЕРЕПАДА ЦВЕТА*/
}

@media screen and (max-width: 1279px) {
    footer {
        width: 76.8rem;
        height: 63.9rem;
        background-image: url('../../assets/images/footer-gradient-background7.png'), url('../../assets/images/footer-background7.png'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
        background-repeat: no-repeat;
    }
    .footer-content {
        height: 23.4rem;
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer-content__contacts {
        margin-top: 0rem;
        width: 27.8rem;
        height: 23.4rem;
        padding-bottom: 0rem;
    }
    .contacts__phone,
    .contacts__mail,
    .contacts__title {
        padding-left: 3.4rem;
        width: 31.2rem;
        align-items: center;
    }
    .footer-content__address {
        margin-top: 0;
        width: 30.2rem;
        height: 23.4rem;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 3.4rem;
        margin-left: 6rem;
    }
    .address__title,
    .address__city {
        width: 30.2rem;
    }
    .footer-content__img {
        margin-top: 6.5rem;
        margin-left: 20.4rem;
        height: 31rem;
        width: 30rem;
    }
}

@media screen and (max-width: 767px) {
    footer {
        width: 32rem;
        height: 80.9rem;
        background-image: url('../../assets/images/footer-gradient-background3.png'), url('../../assets/images/footer-background3.png'), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
        background-repeat: no-repeat;
    }
    .footer-content {
        height: 47rem;
        width: 32rem;
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .footer-content__contacts {
        margin-left: 1.1rem;
        margin-right: 1.1rem;
        width: 27.8rem;
        height: 20.8rem;
    }
    .contacts__title {
        text-align: center;
        height: 6.4rem;
        width: 27.8rem;
        font-size: 2.5rem;
        letter-spacing: 0.14rem;
    }
    .contacts__mail {
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        width: 25.2rem;
        margin-top: 4rem;
    }
    .contacts__phone {
        margin-left: 1.9rem;
        margin-right: 1.9rem;
        width: 23.9rem;
        margin-top: 4rem;
    }
    .contacts__title,
    .contacts__mail,
    .contacts__phone {
        padding-left: 0rem;
    }
    .mail__text {
        align-self: center;
    }
    .phone__num {
        align-self: center;
    }
    .footer-content__address {
        margin-top: 0rem;
        width: 30rem;
        height: 22.2rem;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 0rem;
        margin-left: 0rem;
        padding-top: 0rem;
    }
    .address__title {
        margin-left: 0rem;
        margin-right: 0rem;
        text-align: center;
        height: 6.4rem;
        width: 27rem;
        font-size: 2.5rem;
        letter-spacing: 0.14rem;
        margin-top: 4rem;
        padding-left: 2.5rem
    }
    .footer-content__img {
        margin-top: 8rem;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 26rem;
        height: 26.9rem;
    }
    .address__city {
        width: 30rem;
        margin-top: 4rem;
        letter-spacing: 0.2rem;
    }
    .city__text {
        padding-left: 0.1rem
    }
}