/* ------------------our-friends---------- */

.our-friends {
    /* height: 134.2rem; */
    background: #F6F6F6;
    position: relative;
    padding-top: 12rem;
    max-width: 128rem;
    margin: auto;
}

.our-friends__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-friends__heading {
    margin: 8rem 44rem 4.5rem 44rem;
    width: 40rem;
    height: 9rem;
    font-size: 3.5rem;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #545454;
    font-weight: normal;
}

.our-friends__slider {
    display: flex;
    flex-direction: column;
}

.cards {
    width: 120rem;
    height: 93rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cards__card {
    height: 43.5rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(13, 13, 13, 0.04);
    transition: 0.3s;
}

.cards__card:hover {
    cursor: pointer;
    background: #fefefe;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.cards__card:hover .card__btn {
    background: #FDDCC4;
}

.card__img {
    margin-bottom: 3rem;
    height: 27rem;
    width: 27rem;
    border-radius: 9px 9px 0px 0px;
}

.card__btn {
    margin-bottom: 3rem;
    border: 2px solid #F1CDB3;
    border-radius: 10rem;
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #292929;
    background: #fafafa;
    padding: 0px;
    width: 18.7rem;
    height: 5.2rem;
}

.card__text {
    width: 7.4rem;
    height: 2.3rem;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06rem;
    color: #545454;
    align-self: center;
    margin-bottom: 3rem;
}

.our-friends__btn {
    align-self: center;
    align-items: center;
    padding: 1.5rem 4.5rem;
    background: #F1CDB3;
    border-radius: 10rem;
    height: 5.2rem;
    width: 26.1rem;
    font-size: 1.7rem;
    line-height: 1.3;
    letter-spacing: 0.06rem;
    color: #292929;
    align-self: center;
    margin-top: 6rem;
    margin-bottom: 10rem;
}


/* --------------pagination------ */

.pagination {
    width: 34rem;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
    margin-bottom: 10rem;
}

.pagination__btn {
    width: 5.2rem;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    background: #fff;
    color: #CDCDCD;
    border: .2rem solid #CDCDCD;
}

.pagination__btn span {
    display: block;
    height: 2.3rem;
    font-family: 'Georgia';
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: 0.06rem;
    color: #CDCDCD;
}

.pagination__btn:not([disabled]) {
    border: .2rem solid #F1CDB3;
}

.pagination__btn:not([disabled]):hover {
    background: #F1CDB3;
    color: #292929;
}

.pagination__btn[disabled]:hover {
    cursor: not-allowed;
}


/* .pagination__btn:active {
    color: #292929;
} */

.pagination__btn img {
    height: 2.3rem;
}

.max {
    width: 2.7rem;
}

.min {
    width: 1.3rem;
}